server/logs/*.*
player/logs/*.*
player/logs/received_frames/*.png
player/logs/received_frames_1Mbps/*.png
player/logs/received_frames_2Mbps/*.png
imgs/*.*
server/Fortnite/*.png
server/Forza/*.png
server/Kombat/*.png
tools/frames/*.*
tools/my_converted.pcap
tools/pcap_cache/my_converted.pcap
tools/*.mp4
my_converted.pcap
tools/Kombat/*.png
tools/MyPCAP/*.*
tools/pcap_cache/*.mp4
tools/pcap_cache/*.pcap
visualization/*.*
./*.pcap
./*.png
./*.txt